.aboutContainer {
  flex-direction: row;
}

.leftSideContent {
  width: 50%;
}

.rightSideContent {
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#colophon {
  position: relative;
  bottom: 0;
  width: 100%;
}

.post-article {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
