.aboutContainer {
  flex-direction: row;
}

.leftSideContent {
  width: 50%;
}

.rightSideContent {
  width: 50%;
  height: auto;
  margin-bottom: -80px;
  background-repeat: no-repeat;
  background-size: cover;
}

#colophon {
  position: relative;
  bottom: 0;
  width: 100%;
}
