// ==========================================================================
// Base – Variables
// ==========================================================================

// Forms
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-color:                              #000 !default;
$base-input-background-color:                   #fff !default;
$base-input-background-focus-color:             #fff !default;
$base-input-border-color:                       #ccc !default;
$base-input-border-focus-color:                 #f7c723 !default;
$base-select-box-height:                        36px;

// Grid Containers
$container:                                     100% !default;
$container-m:                                   720px !default;
$container-l:                                   960px !default;
$container-xl:                                  1120px !default;

// Grid Gutters
$grid-gutter:                                   15px !default;
$grid-gutter-m:                                 15px !default;
$grid-gutter-l:                                 15px !default;
$grid-gutter-xl:                                15px !default;

// Responsive Breakpoints
$breakpoint-m:                                  ($container-m + 20) !default;
$breakpoint-l:                                  ($container-l + 20) !default;
$breakpoint-xl:                                 ($container-xl + 20) !default;
