html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	&:before {
		quotes: "&#8220;";
	}
	&:after {
		quotes: "&#8221;";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 2px;
	margin-bottom: 1.5em;

}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

#masthead-fp {
	position: absolute;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 80px;
	padding: 1.125em 0;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	display: flex;
	justify-content: space-around;

	div {
		flex: 0 1 auto;
		align-self: center;
		flex-basis: auto;
		margin: 0 20px;
	}

	button {
		color: #fff;
		padding: .6em .4em;
	}
}

#masthead {
	position: absolute;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 80px;
	padding: 1.125em 0;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	display: flex;
	justify-content: space-around;

	div {
		flex: 0 1 auto;
		align-self: center;
		flex-basis: auto;
		margin: 0 20px;
	}

	button {
		color: #000;
		padding: .6em .4em;
	}
}

#colophon {
	background-color: #000;
	padding: 3.25em .125em;
	margin-top: 80px;

	a {
		color: #fff;
	}
}

.hero {
	height: 645px;
	width: 100%;
	padding-bottom: 2.5em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	z-index: 0;

	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		z-index: 1;
		background: rgba(0,0,0,0.30); /* FF3.6-15 */
		background: rgba(0,0,0,0.30); /* Chrome10-25,Safari5.1-6 */
		background: lgba(0,0,0,0.30); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */
	}

	.hero-content {
		position: relative;
		z-index: 2;
		flex: auto;
		align-self: flex-end;
		flex-basis: auto;

		.latest {
			font-family: $font__main;
			color: #fff;
			margin-bottom: 10px;
		}

		h2 {
			@include font-size(2.25);
			color: #fff;
			margin-top: 0;
		}
	}
}

#primary {
	position: relative;
}

.aboutContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;

	.leftSideContent {
		order: 1;
		flex: 0 2 auto;
		align-self: auto;
		flex-basis: auto;
	}

	.rightSideContent {
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		flex-basis: auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		margin-top: 80px;
		height: 50vh;
	}
}

.archiveArticle {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 21.875em;
	padding-top: 25%;
	padding-bottom: 25%;
}
